.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
}

.table thead th {
  font-weight: 500;
  background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.button {
  border: 1px solid gray;
  padding: 5px 10px;
  borderradius: 0;
  margin: 2px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-delete {
  background-color: white;
  color: gray;
}

.button-delete:hover {
  background-color: gray;
  color: white;
}

.button-edit {
  background-color: gray;
  color: white;
}

.button-edit:hover {
  background-color: white;
  color: gray;
}
