.create-exercise-container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-btn {
  background-color: #673ab7;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #5e35b1;
  color: white;
  text-decoration: none;
}
