@keyframes movingGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.app {
  min-height: 100vh;
  background: linear-gradient(180deg, #765e80, #cbb4f4);
  background-size: 100% 200%;
  animation: movingGradient 10s ease infinite;
}
